* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(163,163,163,1) 100%);;
}